<footer class="footer-distributed">

    <div class="footer-left">
        <img src="./../../../assets/images/logo.png" alt="logo">
        <p>Nos preocupamos por tu salud</p>

    </div>

    <div class="footer-center">

        <span>Nuestras redes sociales</span>
        <p>Síguenos en nuestras redes sociales para un mejor servicio</p>
        <div class="footer-icons">
            <a href="#"><img src="./../../../assets/images/Facebook.svg" alt="Facebook logo"></a>
            <a href="#"><img src="./../../../assets/images/Instagram.svg" alt=""></a>
            <a href="#"><img src="./../../../assets/images/Twitter.svg" alt=""></a>
            <a href="#"><img src="./../../../assets/images/YouTube.svg" alt=""></a>
            <a href="#"><img src="./../../../assets/images/LinkedIn.svg" alt=""></a>
          </div>
    </div>

    <div class="footer-right">

        <span >Contactanos</span>
                <p class="contaco-footer">
                <img src="./../../../assets/images/Email.svg" alt="2">            
                contact&#64;company.com
                </p>
                <p class="contaco-footer">
                <img src="./../../../assets/images/Email.svg" alt="3">
                    (414) 687 - 5892            
                <p class="contaco-footer">
                794 Mcallister St
                San Francisco, 94102            
                </p>



    </div>

  </footer>