.cta {
    background-image: url('../../../assets/images/img-inicio.png');
    height: 415px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0px 0px 0px 104px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info h3 {
    color: #3B3B3B;
}

.info p {
    color: #2B2B2B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 503px;
    height: 80px;
    flex-shrink: 0;
}

.info button {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 15px;
    background: #121481;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: none;
}

.titulo-beneficios {
    text-align: center;
    color: #121481;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.beneficios {
    margin: 50px 104px 0px;
    display: flex;
    justify-content: space-between;
}

.beneficio {
    width: 550px;
    margin-bottom: 90px;
}

.beneficio h2 {
    color: #0F172A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.beneficio p {
    color: #0F172A;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    /* 28.8px */
}

.articles {
    background-color: #F2F4F8; /* Ajusta el color de fondo según sea necesario */
}

.articles h2 {
    color: #121481;
    font-size: 2rem;
    font-weight: bold;
}

.articles p {
    color: #6c757d;
    font-size: 1rem;
}

.card {
    border: none; /* Quita el borde por defecto de las tarjetas */
    border-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Añade una sombra suave a las tarjetas */
}

.card-body {
    background-color: #ffffff; /* Fondo blanco para el cuerpo de las tarjetas */
    border-bottom-left-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    border-bottom-right-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    padding: 20px;
}

.card-subtitle {
    font-size: 0.9rem;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #121481;
}

/* About */
.about {
    background-color: #F2F4F8; /* Ajusta el color de fondo según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 104px 20px;
}

.about h2 span{
    color: #121481;
    font-size: 2rem;
    font-weight: bold;
}

.about p {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.about .btn-primary {
    background-color: #121481;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

/* Contact */
.contact {
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact h2 span {
    color: #121481; /* Ajusta el color del encabezado */
    font-size: 2rem;
    font-weight: bold;
}

.contact p {
    color: #000000;
    font-size: 1rem;
}

.contact .btn-primary {
    background-color: #121481;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

.contact .card {
    background-color: #ffe4e1; /* Ajusta el color de fondo de la tarjeta */
    border: none; /* Quita el borde por defecto de la tarjeta */
    border-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Añade una sombra suave a la tarjeta */
}

.contact .card form {
    flex: 1; /* Asegura que el formulario ocupe el espacio disponible */
}

.form-group{
    margin-bottom: 20px;
    width: 90%;
}

.about button {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 15px;
    background: #121481;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: none;
}

.contact a{
    border-radius: 15px;
}

label, input{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}