<app-header></app-header>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="medical-form">
    <div class="container mt-4">
        <h2 class="text-center mb-4">Datos Médicos</h2>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Medidas Corporales</h5>
                        <div class="form-group">
                            <label for="inputAltura">
                                <i class="fas fa-ruler-vertical"></i> Altura (cm)
                            </label>
                            <input type="number" class="form-control" id="inputAltura" formControlName="altura" placeholder="Altura">
                        </div>
                        <div class="form-group">
                            <label for="inputPeso">
                                <i class="fas fa-weight"></i> Peso (kg)
                            </label>
                            <input type="number" class="form-control" id="inputPeso" formControlName="peso" placeholder="Peso">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Condiciones Endocrinas</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hipertensionCheck" formControlName="hipertension">
                            <label class="form-check-label" for="hipertensionCheck">
                                <i class="fas fa-heartbeat"></i> Hipertensión
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hipotiroidismoCheck" formControlName="hipotiroidismo">
                            <label class="form-check-label" for="hipotiroidismoCheck">
                                <i class="fas fa-thermometer-quarter"></i> Hipotiroidismo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hipertiroidismoCheck" formControlName="hipertiroidismo">
                            <label class="form-check-label" for="hipertiroidismoCheck">
                                <i class="fas fa-thermometer-three-quarters"></i> Hipertiroidismo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="diabetesCheck" formControlName="diabetes">
                            <label class="form-check-label" for="diabetesCheck">
                                <i class="fas fa-tint"></i> Diabetes
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Condiciones Respiratorias y Cardíacas</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asmaCheck" formControlName="asma">
                            <label class="form-check-label" for="asmaCheck">
                                <i class="fas fa-lungs"></i> Asma
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="otraEnfermedadCardiacaCheck" formControlName="otraEnfermedadCardiaca">
                            <label class="form-check-label" for="otraEnfermedadCardiacaCheck">
                                <i class="fas fa-heart"></i> Otra enfermedad cardíaca
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Condiciones Renales y Otras</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="otraEnfermedadRenalCheck" formControlName="otraEnfermedadRenal">
                            <label class="form-check-label" for="otraEnfermedadRenalCheck">
                                <i class="fas fa-kidney"></i> Otra enfermedad renal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cancerCheck" formControlName="cancer">
                            <label class="form-check-label" for="cancerCheck">
                                <i class="fas fa-ribbon"></i> Cáncer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="etsCheck" formControlName="ets">
                            <label class="form-check-label" for="etsCheck">
                                <i class="fas fa-virus"></i> ETS
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Salud Mental</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ansiedadCheck" formControlName="ansiedad">
                            <label class="form-check-label" for="ansiedadCheck">
                                <i class="fas fa-brain"></i> Ansiedad
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="depresionCheck" formControlName="depresion">
                            <label class="form-check-label" for="depresionCheck">
                                <i class="fas fa-frown"></i> Depresión
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Historial Obstétrico</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cesareaCheck" formControlName="cesarea">
                            <label class="form-check-label" for="cesareaCheck">
                                <i class="fas fa-baby"></i> Cesárea previa
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
            <button class="btn btn-primary btn-lg" [disabled]="myForm.invalid" type="submit">
                <i class="fas fa-save"></i> Guardar Datos Médicos
            </button>
        </div>
    </div>
</form>

<app-footer></app-footer>