body {
    font-family: Arial, sans-serif;
}

.medical-form {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    border: none;
}

.card-title {
    color: #121481;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #121481;
    font-weight: 300;
}

.form-check-label {
    color: #333;
}

.btn-primary {
    background-color: #121481;
    border-color: #121481;
}

.btn-primary:hover {
    background-color: #3a0e6a;
    border-color: #3a0e6a;
}

.fas {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 20px;
    }
}

.form-check{
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}