<app-header></app-header>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Datos Médicos -->
    <section class="container mt-4">
        <h2>Datos Médicos</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAltura">Altura (cm)</label>
                <input type="number" class="form-control" id="inputAltura" formControlName="altura"
                    placeholder="Altura">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPeso">Peso (kg)</label>
                <input type="number" class="form-control" id="inputPeso" formControlName="peso" placeholder="Peso">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de hipertensión?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipertensionSi" formControlName="hipertension"
                        value=1>
                    <label class="form-check-label" for="hipertensionSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipertensionNo" formControlName="hipertension"
                        value=0>
                    <label class="form-check-label" for="hipertensionNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Sufre de hipotiroidismo?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipotiroidismoSi"
                        formControlName="hipotiroidismo" value=1>
                    <label class="form-check-label" for="hipotiroidismoSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipotiroidismoNo"
                        formControlName="hipotiroidismo" value=0>
                    <label class="form-check-label" for="hipotiroidismoNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de hipertiroidismo?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipertiroidismoSi"
                        formControlName="hipertiroidismo" value=1>
                    <label class="form-check-label" for="hipertiroidismoSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hipertiroidismoNo"
                        formControlName="hipertiroidismo" value=0>
                    <label class="form-check-label" for="hipertiroidismoNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Sufre de asma?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="asmaSi" formControlName="asma" value=1>
                    <label class="form-check-label" for="asmaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="asmaNo" formControlName="asma" value=0>
                    <label class="form-check-label" for="asmaNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de cáncer?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cancerSi" formControlName="cancer" value=1>
                    <label class="form-check-label" for="cancerSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cancerNo" formControlName="cancer" value=0>
                    <label class="form-check-label" for="cancerNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Sufre de alguna ETS?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="etsSi" formControlName="ets" value=1>
                    <label class="form-check-label" for="etsSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="etsNo" formControlName="ets" value=0>
                    <label class="form-check-label" for="etsNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de ansiedad?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="ansiedadSi" formControlName="ansiedad" value=1>
                    <label class="form-check-label" for="ansiedadSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="ansiedadNo" formControlName="ansiedad" value=0>
                    <label class="form-check-label" for="ansiedadNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Sufre de depresión?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="depresiónSi" formControlName="depresión" value=1>
                    <label class="form-check-label" for="depresiónSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="depresiónNo" formControlName="depresión" value=0>
                    <label class="form-check-label" for="depresiónNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de diabetes?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="diabetesSi" formControlName="diabetes" value=1>
                    <label class="form-check-label" for="diabetesSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="diabetesNo" formControlName="diabetes" value=0>
                    <label class="form-check-label" for="diabetesNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Sufre de otra enfermedad renal?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="otraEnfermedadSi" formControlName="otraEnfermedad"
                        value=1>
                    <label class="form-check-label" for="otraEnfermedadSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="otraEnfermedadNo" formControlName="otraEnfermedad"
                        value=0>
                    <label class="form-check-label" for="otraEnfermedadNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Sufre de otra enfermedad cardiaca?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="otraEnfermedadSi" formControlName="otraEnfermedad"
                        value=1>
                    <label class="form-check-label" for="otraEnfermedadSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="otraEnfermedadNo" formControlName="otraEnfermedad"
                        value=0>
                    <label class="form-check-label" for="otraEnfermedadNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>¿Ha tenido una cesárea previa?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaSi" formControlName="cesarea" value=1>
                    <label class="form-check-label" for="cesareaSi">Sí</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="cesareaNo" formControlName="cesarea" value=0>
                    <label class="form-check-label" for="cesareaNo">No</label>
                </div>
            </div>
        </div>
    </section>

    <div class="d-grid">
        <button class="btn btn-primary btn-dark" [disabled]="myForm.invalid" type="submit">
            Crear
        </button>
    </div>
</form>

<!-- Footer -->
<app-footer></app-footer>
