<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand col-4" href="/">
      <img src="./../../../assets/images/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav options">
        <a class="bttn-nav" routerLink="/inicio">Inicio</a>
        <a class="bttn-nav" routerLink="/contacto-profesional">Contacto profesional</a>
        <a class="bttn-nav" routerLink="/calculadora">Calculadora de riesgo</a>
        <a class="bttn-nav" routerLink="/comunidad">Comunidad</a>

        <div class="collapse navbar-collapse justify-content-end col-4" id="navbarNav">
          <ng-container *ngIf="userLoginOn; else showLoginButtons">
            <div class="dropdown">
              <button class="btn btn-primary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Cuenta
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </ng-container>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ng-template #showLoginButtons>
            <ul class="navbar-nav">
              <li class="navbar-nav">
                <button type="button"
                  class="btn me-2 text-white border bttn-cuenta"
                  [routerLink]="['/login']">Iniciar Sesión</button>
              </li>
              <br>
              <li class="navbar-nav">
                <button type="button"
                  class="btn me-2 text-white border bttn-cuenta"
                  [routerLink]="['/registro']">Registrarse</button> 
              </li>
            </ul>
          </ng-template>
        </div>
      </ul>

  </div>
</nav>


