
<form [formGroup]="myForm" class="diet-form">
    <div class="container mt-4">
        <h2 class="text-center mb-4" style="color: #121481;">Hábitos Alimenticios</h2>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consumo de Alimentos</h5>
                        <div class="form-group">
                            <label>Frecuencia de consumo semanal:</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="number" class="form-control mb-2" formControlName="frutas" placeholder="Frutas">
                                    <input type="number" class="form-control mb-2" formControlName="verduras" placeholder="Verduras">
                                    <input type="number" class="form-control mb-2" formControlName="carnes" placeholder="Carnes">
                                    <input type="number" class="form-control mb-2" formControlName="comida_rapida" placeholder="Comida Rápida">
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control mb-2" formControlName="legumbres" placeholder="Legumbres">
                                    <input type="number" class="form-control mb-2" formControlName="mariscos" placeholder="Mariscos">
                                    <input type="number" class="form-control mb-2" formControlName="lacteos" placeholder="Lácteos">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hábitos de Alimentación</h5>
                        <div class="form-group">
                            <label for="numeroComidas">Número de comidas al día:</label>
                            <input type="number" class="form-control" id="numeroComidas" formControlName="numero_comidas">
                        </div>
                        <div class="form-group">
                            <label for="numeroVasos">Número de vasos de agua al día:</label>
                            <input type="number" class="form-control" id="numeroVasos" formControlName="numero_vasos">
                        </div>
                        <div class="form-group">
                            <label for="comidasFuera">Comidas fuera de casa por semana:</label>
                            <input type="number" class="form-control" id="comidasFuera" formControlName="comidas_fuera_casa">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tipo de Dieta</h5>
                        <div class="form-group">
                            <label for="dieta">Seleccione su tipo de dieta:</label>
                            <select class="form-control" id="dieta" formControlName="dieta">
                                <option value="">Seleccione una opción</option>
                                <option value="1">Omnívora</option>
                                <option value="2">Vegetariana</option>
                                <option value="3">Vegana</option>
                                <option value="4">Pescetariana</option>
                                <option value="5">Otra</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</form>
